@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(184, 176, 176, 0.9), rgba(134, 130, 130, 0.6)) , url("Images/bg/body-bg.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
}

h1{
    font-size: 1.5rem;
}

.title{
    font-family: 'Viga', sans-serif;
    color: #ea7b0c;
    filter: drop-shadow(2px 4px 6px #f5f5f5);
}

nav{
    display: flex;
    align-items: center;
}
.logo{
    align-self: flex-start;
    width: 5rem;
    margin: 2em;
}

.logo-img{
    max-width: 100%;
}

.content-search{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.search-area{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 20px 20px 60px #9d9a9a,
    20px -20px 60px #d5d0d0;
}

.search-area *{
    margin: 1em;
}

.search{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
    background-color: transparent;
    border: 2px dotted black;
    color: #ea7b0c;
    font-weight: 800;
}
.search::placeholder{
    color: #ea7b0c;
}

.recipie-card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: minmax(100px,1fr);
    gap: 20px;
    padding: 2em;

}
.card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    border-radius: 12px;
}
.card-recipe-name{
    border-top: 2px solid black;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
}
.card-img img{
    max-width: 100%;
    border-radius: 50%;
    border: 10px solid #ffa726;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.3));
}

.hero-images{
    margin: auto;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px rgba(0, 0, 0, 0.411);
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;

}
.loader img{
    background-color: #9d9a9a;
    margin: auto;
}
@media screen and (max-width:700px) {
    .logo{
        width: 3rem;
        margin: 1.5em;
    }
    h1{
        width: 1.25rem;
    }
}

@media screen and (max-width:400px) {
    .logo{
        width: 2rem;
        margin: 1.5em;
    }
    h1{
        width: 0.5rem;
    }
}