/* @import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap'); */

:root{
    --mars: linear-gradient(to right, #ee9617 0%, #fe5858 74%);
    --entryscene : linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection{
    color: white;
    background-color: orange;
}

body{
    background: linear-gradient(rgba(184, 176, 176, 0.9), rgba(134, 130, 130, 0.6)) , url("Images/bg/body-bg.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.5rem;
}

button{
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 5px;
    user-select: none;
}
/* nav section */

nav{
    display: flex;
    align-items: center;
}


.title{
    font-family: 'Viga', sans-serif;
    color: #ea7b0c;
    filter: drop-shadow(2px 4px 6px #f5f5f5);
}


.logo{
    align-self: flex-start;
    width: 5rem;
    margin: 2em;
}

.logo-img{
    max-width: 100%;
}


/* ***** HERO section ****** */
.hero{
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: clamp(3em,10vw,12em);
    flex-wrap: wrap;
}

.hero-text{
    padding: 2em;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    filter: none !important;
}
.hero-title{
    width: 100%;/* to prevent collapsing */
    font-size:clamp(2rem , 6vw , 10rem);;
    text-align: center;
    text-shadow: 19px 19px 38px rgba(0, 0, 0, 0.411);
    
    background: var(--entryscene);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: text alternate-reverse infinite 2s;

}

.hero-text::before{
    content: "😋";
    position: absolute;
    background-color: #bf3a30;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 100%;
    font-size: clamp(1rem,6vw,5rem);
    left: calc(50% - clamp(1rem,2vw,3rem));
    animation: emoji alternate-reverse 10s infinite;
}

@keyframes emoji {
    0%{
        background-color: #864ba2;
    }
    50%{
        background-color: #874356;
    }
    100%{
        background-color: #bf3a30;
    }
}
/* .emoji{
    position: absolute;
    top: 10%;
    font-size: clamp(4rem , 6vw , 8rem);
    background-color: #bf3a30;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.typing-anime{
    display: flex;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 900;
    padding: 0 2em;
    /* background: rgb(255, 0, 0); */
    /* box-shadow:  inset -20px -20px 60px white,
                inset 20px 20px 60px #ffffff;   */
    border-color: transparent;
    color: #874356;
}
.typing-cursor , .typed-cursor{
    color: black;
}
.hero-images{
    margin: auto;
    width : clamp(10rem , 15vw , 20vw );
    height: clamp(10rem , 15vw , 20vw );
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px rgba(0, 0, 0, 0.411);
    display: flex;
    flex-direction: column;
}

.slider-img{
    background-color: #9d9a9a;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.splide__arrow , .splide__pagination{
    display: none !important;
}

.image-holder{
    display: flex;
    /* since default is row so it will make height of each children same */
}

/* ***** search section ********* */
.content-search{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    width: 35%;
    position: relative;
}
.content-search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: tomato;
    bottom: 0;
    left: 0;
    transition: 300ms ease-out;
    transform-origin: left;
    transform: scaleX(0);
}

.content-search:hover::before{
    /* width: 100%; */
    transform: scaleX(1);
}
.search-area{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 20px 20px 60px #9d9a9a,
    20px -20px 60px hsl(0, 6%, 83%);
    position: relative;
}

.search{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
    margin: 1em;
    background-color: transparent;
    border: 2px solid black;
    color: #ea7b0c;
    font-weight: 800;
    width: 100%;
    background-color: whitesmoke;
    transition: 100ms ease-in-out;
}
.search:focus{
    border-color: orange;
}
.search::placeholder{
    color: #ea7b0c;
}

.search-btn{
    background-color: transparent;
    width: 5rem;
    color: whitesmoke;
    outline: none;
    border: none;
    padding: 0.4rem;
}
.loader{
    content: url(Images/Spinner.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 100%;
    border: 8px solid #ffba39;
    border-radius: 15px;
    transition: 1s ease-in-out;
    top: calc(100%);
    opacity: 1;
    width: 5rem;
    height: 5rem;
    margin: 1.25em;
}

.loader-loaded{
    top: 0;
    opacity: 0;
    z-index: -1;
}
.loader-img{
    max-width: 100%;
}
.search-btn-img{
    --color: orange;
    max-width: 100%;
    padding: 1em;
    background-color: var(--color);
    box-shadow: 24px 24px 64px #9d9a9a,
    24px -24px 64px #d5d0d0;
    border: 2px solid var(--color);
    transition: 300ms;
}
.search-btn-img:hover{
    --color:#ffba39;
    border-radius: 4px;
    transform: translateY(-10px);
    /* border-color: tomato; */
}
/* Recipie section */
.recipie-card{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: minmax(100px,1fr);
    gap: 20px;
    padding: 2em;

}
.card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    border-radius: 12px;
}
.card-recipe-name{
    border-top: 2px solid black;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
}

.card-img{
    height: 8rem;
    width: 8rem;
    background-color: gray;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
.card-img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


@media screen and (max-width:700px) {
    .logo{
        width: 3rem;
        margin: 1.5em;
    }
    h1{
        width: 1.25rem;
    }
    .content-search{
        width: 80%;
    }
}

@media screen and (max-width:400px) {
    .logo{
        width: 2rem;
        margin: 1.5em;
    }
    h1{
        width: 0.5rem;
    }
}